FINAL V/Z.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">		<xs:element name="Z">
			<xs:complexType>
			<xs:sequence>
			<xs:element name="Person" maxOccurs="unbounded">
				<xs:complexType>
				<xs:sequence>
		<xs:element name="NAME" type="xs:string"/>
		<xs:element name="AGE" type="xs:integer"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>